.hangman {
  position: relative;
  height: 100%;
  width: 1000px;
  color: black;
  text-align: center;
  zoom: 1.3;
}

.hangman button {
  border: none;
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
  width: 30px;
  margin: 5px 2px 2px 2px;
  letter-spacing: 1px;
  outline: none;
  background: #0031d4ad;
  color: #fff;
  box-shadow: 0 6px #0f5ded;
  border-radius: 5px;
  padding-top: 4px;
}

.hangman button:hover {
  background-color: #dbe7fe;
  color: rgb(0, 8, 255);
}

.hangman button:disabled {
  background: #bdbdbd;
  color: #eeeeee;
  box-shadow: 0 6px #9e9e9e;
}

#reset {
  display: inline-block;
  position: absolute;
  width: auto;
  margin-left: 200px;
  margin-left: 183px;
  margin-top: 123px;
  background: rgb(0, 8, 255);
  box-shadow: 0 6px rgb(0, 129, 210);
  transform: rotate(20deg);
}
#reset:hover {
  background: rgb(244, 3, 3);
  color: white;
}

.mistakes {
  color: rgb(255, 0, 0);
  /* font-style: italic; */
  font-size: large;
  font-weight: bold;
}

.winner {
  color: red;
  font-size: x-large;
  font-weight: bold;
  margin: 0;
}
