.App {
  font-family: Lucida Handwriting;
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("https://c0.wallpaperflare.com/preview/696/429/190/paper-texture-structure-lined-paper.jpg");
  background-repeat: no-repeat;
  object-fit: contain;
  background-size: 100%;
}
